{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block heading %}Forgot Password <a href="/" class="btn btn-outline-light float-right">Return</a>{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="mx-3 mt-5">
        <div class="input-group mb-3">
            <input type="email" id="email" class="form-control" placeholder="Enter Email">
            <div class="input-group-append">    
                <button type="button" id='emailButton' class="btn btn-dark">Submit</button>
            </div>
        </div>
        <div id="div2" style="display: none;">
            <input type='number' id="otp" class="form-control mb-3" placeholder="Enter OTP">
            <input type='password' id="password1" class="form-control mb-3" placeholder="New Password">
            <input type='password' id="password2" class="form-control mb-3" placeholder="Confirm New Password">
            <button type="button" class="btn btn-dark float-right" id="submit">Submit</button>
        </div>
    </div>

    <script>
        $(document).ready(()=>{
            let loading="<div class='spinner-border spinner-border-sm mb-1'></div>";
            csrf=$('[name=csrfmiddlewaretoken]')[0].value;
            function disable(e){$(e).prop('disabled',true);}
            function enable(e){$(e).prop('disabled',false);}
            let email=null,token_o=null,token_u=null;

            $("#emailButton").click(function(){
                disable(this);
                disable("#email");
                let html=$(this).html();
                $(this).html(html+" "+loading);
                $.ajax({
                    url: "/forgotPassword",
                    type: 'GET',
                    data: {
                        email: $("#email").val()
                    },
                    success: (result)=>{
                        if(!result.startsWith("Error")){
                            email=$("#email").val();
                            result=JSON.parse(result);
                            token_o=result['token_o']
                            token_u=result['token_u']
                            $("#div2").show()
                            $(".input-group").hide()
                            alert("OTP sent to "+email);
                        }
                        else{
                            alert(result);
                            enable("#email,#emailButton");
                        }
                        $("#emailButton").html(html);
                    } 
                });
            });

            $("#submit").click(function(){
                disable(this);
                disable("#otp,#password1,#password2");
                let html=$(this).html();
                $(this).html(html+" "+loading);
                $.ajax({
                    url: "/forgotPassword",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: csrf,
                        email: email,
                        token_o: token_o,
                        token_u: token_u,
                        otp: $("#otp").val(),
                        password1: $("#password1").val(),
                        password2: $("#password2").val()
                    },
                    success: (result)=>{
                        if(!result.startsWith("Error")){
                            if(confirm("Password Changed Successfully"))
                                window.location=result
                            else
                                window.location=result
                        }
                        else alert(result);
                        enable("#submit,#otp,#password1,#password2");
                        $("#submit").html(html);
                    }
                });
            });

        });
    </script>
{% endblock %}