{% extends 'base.html' %}

{% block title %}
    Dashboard: Teacher
{% endblock %}

{% block heading %}
    Welcome {{request.session.name}}
{% endblock %}

{% block sub-heading %}
    Teacher's Dashboard
{% endblock %}
    
{% block content %}
    {% csrf_token %}
    <div class="text-right mt-2 mx-3 dropdown">
        <button data-toggle="dropdown" class="btn btn-dark dropdown-toggle">Options</button>
        <div class="dropdown-menu">
            <button type="button" class="dropdown-item" data-toggle='modal' data-target='#viewSubjectsModal'>
                View My Subjects
            </button>
            <button type="button" class="dropdown-item" data-toggle='modal' data-target='#changePasswordModal'>
                Change Password
            </button>
            <a href="logout" class="dropdown-item">Logout</a>
        </div>
    </div>
    {% if request.session.userActive %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 text-center mt-5">
                    <button type="button" class="btn btn-outline-dark btn-block btn-lg p-5"
                    id="openPortalButton" data-toggle='modal' data-target='#openPortalModal' data-backdrop="static">
                    Open<br>Portal
                </button>
            </div>
                <div class="col-sm-6 text-center mt-5">
                    <button type="button" class="btn btn-outline-dark btn-block btn-lg p-5" 
                    id="closePortalButton" data-backdrop="static"> 
                        Close<br>Portal
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center mt-5">
                    <button type="button" class="btn btn-outline-dark btn-block btn-lg py-5"
                    id="reopenUploadButton" data-toggle='modal'>
                        Reopen Portal/<br>Verify and Upload Attendance
                    </button>
                </div>
                <div class="col-sm-6 text-center mt-5">
                    <a href='/viewStudentsAttendance' class="btn btn-outline-dark btn-block btn-lg p-5">View<br>Attendance</a>
                </div>
            </div>
        </div>

        <!--View Subjects Modal-->
        <div class='modal fade' id="viewSubjectsModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-light">
                        <h4 class="modal-title">My Subjects</h4>
                        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <ul id="subjectsList"> 
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Change Passoword Modal-->
        <div class='modal fade' id="changePasswordModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-light">
                        <h4 class="modal-title">Change Password</h4>
                        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="password" placeholder="Old Password" id="oldPassword" class="form-control mb-3">
                        <input type='password' placeholder="New Password" id="password1" class="form-control mb-3">
                        <input type='password' placeholder="Confirm New Password" id="password2" class="form-control mb-3">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" id="changePassword">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Open Portal Modal-->
        <div class='modal fade' id="openPortalModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-light">
                        <h4 class="modal-title">Open Portal</h4>
                        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label>Select Subject:</label>
                        <select id="subjectsOption" class='custom-select mb-3'></select>
                        <label>Select Section:</label>
                        <select id='section' class='custom-select mb-3'>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                        <label>Number of Lectures:</label>
                        <input type='number' id='lectures' value='1' class='form-control'>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" id="openPortal">Open Portal</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Close Portal Modal-->
        <div class='modal fade' id="closePortalModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-light">
                        <h4 class="modal-title">Close Portal</h4>
                        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="closePortalBody">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" id="closePortal">Close Portal</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Reopen/Upload Portal Modal-->
        <div class='modal fade' id="reopenUploadModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-light">
                        <h4 class="modal-title">Portal Status</h4>
                        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="reopenUploadBody">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark btn-sm" id="cancelAttendancePortal">Cancel this Attendance</button>
                        <button type="button" class="btn btn-dark btn-sm" id="reopenPortal">Re-open Portal</button>
                        <button type="button" class="btn btn-dark btn-sm" id="uploadPortal">Upload Attendance</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function(){
                let buttons=['#openPortalButton','#closePortalButton','#reopenUploadButton','#viewAttendanceButton'];
                let mySubjects=[];
                let loading="<div class='spinner-border spinner-border-sm mb-1'></div>";
                csrf=$('[name=csrfmiddlewaretoken]')[0].value;
                let portal="{{request.session.portalOpen}}";
                portalStatus();
                
                $.ajax({
                    url: "/getTeacherSubjects",
                    type: "POST",
                    data:{
                        Teacher_Id: '{{request.session.id}}',
                        csrfmiddlewaretoken: csrf
                    },
                    success: function(result){
                        data=JSON.parse(result);
                        subjects=data.subjects;
                        let subSelects=document.getElementById("subjects1");
                        $(".subjectsList").empty();
                        $(subjects).each(function(i,e){
                            $("#subjectsList").append("<li>"+e+"</li>");
                            $("#subjectsOption").append("<option value='"+i+"'>"+e+"</option>")
                            mySubjects.push(e);
                        });
                    }
                });
                function disable(e){$(e).prop('disabled',true);}

                function enable(e){$(e).prop('disabled',false);}

                function portalStatus(){
                    switch(portal){
                        case '0':
                            enable("#openPortalButton");
                            disable("#reopenUploadButton");
                            disable("#closePortalButton");
                            break;
                        case '1':
                            disable("#openPortalButton");
                            disable("#reopenUploadButton");
                            enable("#closePortalButton");
                            break;
                        case '2':
                            disable("#openPortalButton");
                            enable("#reopenUploadButton");
                            disable("#closePortalButton");
                            break;
                    }
                }

                // Ajax Requests on button clicks
                $("#changePassword").click(function(){
                    disable(this)
                    html=$(this).html();
                    $(this).html(html+" "+loading);
                    $.ajax({
                        url: "/changePassword",
                        type: "POST",
                        data:{
                            oldPassword: $("#oldPassword").val(),
                            password1: $("#password1").val(),
                            password2: $("#password2").val(),
                            csrfmiddlewaretoken: csrf
                        },
                        success: function(result){
                            alert(result);
                            enable("#changePassword");
                            $("#changePassword").html(html);
                            if(result==="Successful"){
                                $("#changePasswordModal").modal('hide');
                                $("#oldPassword").val(""); $("#password1").val(""); $("#password2").val("");
                            }
                        }
                    });
                });
                
                $("#openPortal").click(function(){
                    disable(this)
                    html=$(this).html();
                    $(this).html(html+" "+loading);
                    $.ajax({
                        url: "/openPortal",
                        type: "POST",
                        data:{
                            Teacher_Id: '{{request.session.id}}',
                            Subject: mySubjects[$("#subjectsOption").val()].toString(),
                            Section: $("#section").val(),
                            Lectures: $("#lectures").val(),
                            csrfmiddlewaretoken: csrf
                        },
                        success: function(result){
                            alert(result);
                            if(result==="Portal Opened"){
                                portal='1';
                                portalStatus();
                                $("#openPortalModal").modal('hide');
                            }
                            enable("#openPortal");
                            $("#openPortal").html(html);
                        }
                    });
                });

                $("#closePortalButton").click(function(){
                    disable(this)
                    html=$(this).html();
                    $(this).html(html+" "+loading);
                    $("#closePortalBody").empty()
                    $.ajax({
                        url: "/getPortalData",
                        type: "POST",
                        data:{
                            Teacher_Id: '{{request.session.id}}',
                            csrfmiddlewaretoken: csrf
                        },
                        success: function(result){
                            if(result!=="Error"){
                                result=JSON.parse(result);
                                $("#closePortalBody").append(
                                    '<div class="container-fluid"><table class="table table-borderless">'+
                                    '<tr><th>Subject:</th><td>'+result['subject']+'</td></tr>'+
                                    '<tr><th>Section:</th><td>'+result['section']+'</td></tr>'+
                                    '<tr><th>Lectures:</th><td>'+result['lectures']+'</td></tr>'+
                                    '<tr><th>Students:</th><td>'+result['students']+'</td></tr>'+
                                    '</table></div>'
                                );
                                $("#closePortalModal").modal('show');
                            }else alert(result);
                            enable("#closePortalButton");
                            $("#closePortalButton").html(html);
                        }
                    });
                });

                $("#closePortal").click(function(){
                    disable(this)
                    html=$(this).html();
                    $(this).html(html+" "+loading);
                    $.ajax({
                        url: "/closePortal",
                        type: "POST",
                        data:{
                            Teacher_Id: '{{request.session.id}}',
                            csrfmiddlewaretoken: csrf
                        },
                        success: function(result){
                            alert(result);
                            if(result==="Portal Closed"){
                                portal='2';
                                portalStatus();
                                $("#closePortalModal").modal('hide');
                            }
                            enable("#closePortal");
                            $("#closePortal").html(html);
                        }
                    });
                });
                
                $("#reopenUploadButton").click(function(){
                    disable(this)
                    html=$(this).html();
                    $(this).html(html+" "+loading);
                    $("#reopenUploadBody").empty()
                    $.ajax({
                        url: "/getPortalStudents",
                        type: "POST",
                        data:{
                            Teacher_Id: '{{request.session.id}}',
                            csrfmiddlewaretoken: csrf
                        },
                        success: function(result){
                            if(result!=="Error"){
                                result=JSON.parse(result);
                                keys=[];
                                for(key in result)
                                    keys.push(parseInt(key));
                                keys.sort();
                                data='<div class="font-weight-bold text-center mb-3">Total Students Marked: '+keys.length+'</div>'+
                                    '<div class="container-fluid"><table class="table table-striped text-center">'+
                                    '<tr><th>Student ID</th><th>Name</th><th>Mark</th></tr>';
                                for(let i=0;i<keys.length;i++)
                                    data+='<tr><td>'+keys[i]+'</td><td>'+result[keys[i].toString()]+'</td>'+
                                        '<td><input type="checkbox" class="markCheckbox" id="'+keys[i]+'" checked></td></tr>'
                                data+='</table></div>';
                                $("#reopenUploadBody").append(data);
                                $("#reopenUploadModal").modal('show');
                            }else alert(result);
                            enable("#reopenUploadButton");
                            $("#reopenUploadButton").html(html);
                        }
                    });
                });

                function disableReopenUploadModalButtons(){
                    disable("#cancelAttendancePortal"); disable('#reopenPortal'); disable("#uploadPortal");
                }

                function enableReopenUploadModalButtons(){
                    enable("#cancelAttendancePortal"); enable('#reopenPortal'); enable("#uploadPortal");
                }

                $("#cancelAttendancePortal").click(function(){
                    if(confirm('Cancel? This attendance won\'t be uploaded and deleted permanently.')){
                        disableReopenUploadModalButtons();
                        html=$(this).html();
                        $(this).html(html+" "+loading);
                        $.ajax({
                            url: "/deletePortal",
                            type: "POST",
                            data:{
                                Teacher_Id: '{{request.session.id}}',
                                csrfmiddlewaretoken: csrf
                            },
                            success: function(result){
                                alert(result);
                                if(result!=="Error"){
                                    portal='0';
                                    portalStatus();
                                    $("#reopenUploadModal").modal('hide');
                                }
                                enableReopenUploadModalButtons();
                                $("#cancelAttendancePortal").html(html);
                            }
                        });
                    }
                });

                $("#reopenPortal").click(function(){
                    if(confirm('Reopen? Are you sure?')){
                        disableReopenUploadModalButtons()
                        html=$(this).html();
                        $(this).html(html+" "+loading);
                        $.ajax({
                            url: "/reopenPortal",
                            type: "POST",
                            data:{
                                Teacher_Id: '{{request.session.id}}',
                                csrfmiddlewaretoken: csrf
                            },
                            success: function(result){
                                alert(result);
                                if(result!=="Error"){
                                    portal='1';
                                    portalStatus();
                                    $("#reopenUploadModal").modal('hide');
                                }
                                enableReopenUploadModalButtons();
                                $("#reopenPortal").html(html);
                            }
                        });
                    }
                });

                $("#uploadPortal").click(function(){
                    if(confirm('Upload? You can\'t modify this, after attendance is uploaded.')){
                        disableReopenUploadModalButtons()
                        html=$(this).html();
                        $(this).html(html+" "+loading);
                        students=[];
                        $(".markCheckbox:checked").each((i,e)=>{students.push($(e).prop('id'));});
                        $.ajax({
                            url: "/uploadAttendance",
                            type: "POST",
                            data:{
                                Teacher_Id: '{{request.session.id}}',
                                Student_Ids: students.join(','),
                                csrfmiddlewaretoken: csrf
                            },
                            success: function(result){
                                alert(result);
                                if(result!=="Error"){
                                    portal='0';
                                    portalStatus();
                                    $("#reopenUploadModal").modal('hide');
                                }
                                enableReopenUploadModalButtons();
                                $("#uploadPortal").html(html);
                            }
                        });
                    }
                });

            });
        </script>
    {% else %}
        <h2 class="text-center mt-5 text-danger">Account not activated<br>Please contact the Admin</h2>
    {% endif %}
{% endblock %}